
.theine {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex;
  & :hover {
    background-color: #f6f5f0c4;
    box-sizing: border-box;
  }
}