
.theine {
  background: rgb(246, 245, 240);
  text-decoration:line-through;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  background-image: url();

  position: absolute;
  justify-content: center;
  flex:content;
  flex-direction: column;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: table-cell;
  display: inline-flex;
  vertical-align:baseline;
  background-repeat: no-repeat;
  background-size:contain;
  width: 100%;
  height: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  & :hover {
    color: #848484;
    margin-top: 50px;
    background-color: #181818;
    color:#f7f2f2;
    background-color: #443f3c;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(89, 89, 89);
    background-color: transparent;
    border: 3px solid orange;
    background-color: #5e554f;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction:column-reverse;
  }
  & :first-child {
    
  }


}